!!! 5
html(lang="en")
  head
    title= 'Example CV'
    link(href='/static/css/main.css', rel='stylesheet')
  body
    section
      p.title=model.firstName + ' ' + model.lastName
      p.subtitle=model.jobTitle
    section
      hr.bar
      ul.skillPanel
        each skill in model.skills | sort(attribute='level', reverse=True) | batch(5) | first
          li
            span.subtitle=skill.skill.name
            span='grade: ' + skill.level
            div.levelPanel
              for i in [1,2,3,4,5]
                span.dot(class={True:'lightDot', False:'darkDot'}[skill.level<i])
    section
      hr.bar
      table#details
        tr
          td
            div Experience in following industries:
          td
            div=model.experience
        tr
          td
            div Education:
          td
            div=model.education
        tr
          td
            div Personal interests:
          td
            div=model.hobbies
        tr
          td
            div Language:
          td
            for lang in model.languages
              span#lang=lang.language.name + ' - ' + lang.level
    section
      p.subtitle Skills
      table#skills
        tr
          th
            div Skill
          th
            div Used since
          th
            div Skill level (1-5)
          th
            div Last used
        for skill in model.skills
          tr
            td
              div=skill.skill.name
            td
              div=skill.startDate.split('T')[0]
            td
              div.levelPanel
                for i in [1,2,3,4,5]
                  span.dot(class={True:'lightDot', False:'darkDot'}[skill.level<i])
            td
              div=skill.lastUsage.split('T')[0]

